<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>Kisan Hub</mat-toolbar>
<div class="text-center">
  <h2>Weather Report</h2>
</div>
<div>
  <div class="weather-form-background">
    <form [formGroup]="acceptInputsForReport">
      <mat-grid-list [cols]="breakpoint" gutterSize="10px" rowHeight="4rem">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <h4>Select Start Date</h4>
          <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" [min]="minDate" [max]="maxDate" placeholder="Date" formControlName="firstDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker startView="multi-year"
              panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error align="end" *ngIf="acceptInputsForReport.controls.firstDate.errors?.required">
              Select Correct Start Date
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <h4>Select End Date</h4>
          <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" [min]="firstDate" [max]="maxDate" placeholder="Date" formControlName="lastDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker startView="multi-year" 
              panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error align="end" *ngIf="acceptInputsForReport.controls.lastDate.errors?.required">
              Select Correct Last Date
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <h4>Select Metric</h4>
          <mat-form-field>
            <mat-select placeholder="Metrics" formControlName="metric">
              <mat-option *ngFor="let item of metricArr" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <h4>Select Region</h4>
          <mat-form-field>
            <mat-select placeholder="Region" formControlName="region">
              <mat-option *ngFor="let item of regionArr" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
</div>
<div [hidden]="!showChart">
  <canvas id="canvas" class="chart-alignment" >{{ chart }}</canvas>
</div>